<div class="grid-uniform">
  {%- comment -%}
    Loop through tag categories
  {%- endcomment -%}
  {%- for cat_item in cat_array -%}
    <div class="grid-item small--one-half medium--one-third">
      <h2 class="h3">{{ cat_item }}</h2>
      <ul class="advanced-filters open">
        {%- comment -%}
          Loop through collection tags
        {%- endcomment -%}
        {%- for tag in collection.all_tags -%}
          {%- assign cat = tag | split: '_' | first -%}
          {%- if cat != tag and cat_item == cat -%}
            {%- comment -%}
              Strip out tag category prefix and add/remove link for tag filtering
            {%- endcomment -%}
            {%- if current_tags contains tag -%}
              <li class="advanced-filter active-filter" data-group="{{ cat_item }}" data-handle="{{ tag | handle }}">{{ tag | remove_first: cat_item | remove_first: '_' | link_to_remove_tag: tag }}</li>
            {%- else -%}
              <li class="advanced-filter" data-group="{{ cat_item }}" data-handle="{{ tag | handle }}">{{ tag | remove_first: cat_item | remove_first: '_' | link_to_add_tag: tag }}</li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  {%- endfor -%}
</div>

<script>
  /*
$(function() {
  var filters = $('.advanced-filter'),
    el,
    elGroup,
    elHandle,
    activeTagInGroup;

  filters.on('click', function(e) {
    el = $(this);
    elGroup = el.data('group');
    elHandle = el.data('handle');
    activeTagInGroup = $('.active-filter[data-group="'+ elGroup +'"]');
    // If the tag clicked is not already active and its group contains an active tag, we will swap tag within the group.
    if ( !el.hasClass('active-filter')  && activeTagInGroup.size() ) {
      e.preventDefault();
      location.href = location.href
        // swap tag
        .replace(activeTagInGroup.data('handle'), elHandle)
        // go back to page 1
        .replace(/(&page=\d+)|(page=\d+&)|(\?page=\d+$)/, '');
    }
  });

  var showMore = $('.show-more');
  var showLess = $('.show-less');
  showMore.on('click', function(e) {
    el = $(this);
    el.parent().addClass('open');
  });
  showLess.on('click', function(e) {
    el = $(this);
    el.parent().removeClass('open');
  });
})*/
</script>